<section>

    <h1 class="text-center py-2">Forget Password</h1>

  @if (step==1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="emailSubmit()" class="shadow-sm rounded-sm p-3 bg-lime-100">

        <div class="mb-1">
            @let email=verifyEmail.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
            <input formControlName="email" type="email" id="email" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (email?.errors&&email?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (email?.getError('required')) {
                            <li>email is required</li>
                          }
                          @else if (email?.getError('email')) {
                            <li>email is not valid</li>
                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>
        <button  type="submit"  class="btn-main mt-2">Sign in</button>
    </form>
  }

@else if (step==2) {
    <form [formGroup]="verifyCode" (ngSubmit)="codeSubmit()" class="shadow-sm rounded-sm p-3 bg-lime-100">
        <div class="mb-1">
            @let resetCode=verifyCode.get('resetCode');
    
            <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">resetCode</label>
            <input formControlName="resetCode" type="text" id="resetCode" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (resetCode?.errors&&resetCode?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (resetCode?.getError('required')) {
                            <li>resetCode is required</li>
                          }
                          @else if (resetCode?.getError('pattern')) {
                            <li>resetCode is not valid </li>
                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>

        <button  type="submit"  class="btn-main mt-2">Sign in</button>
       
    </form>
}
  

@else if (step==3) {
    <form [formGroup]="resetPassword" (ngSubmit)="newpasswordSubmit()" class="shadow-sm rounded-sm p-3 bg-lime-100">

        <div class="mb-1">
            
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
            <input readonly formControlName="email" type="email" id="email" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (resetPassword.get('email')?.errors&&resetPassword.get('email')?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (resetPassword.get('email')?.getError('required')) {
                            <li>email is required</li>
                          }
                          @else if (resetPassword.get('email')?.getError('email')) {
                            <li>email is not valid</li>
                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>

        <div class="mb-1">
            @let newPassword=resetPassword.get('newPassword');

            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">newPassword</label>
            <input formControlName="newPassword" type="Password" id="newPassword" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (newPassword?.errors&&newPassword?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (newPassword?.getError('required')) {
                            <li>newPassword is required</li>
                          }
                          @else if (newPassword?.getError('pattern')) {
                            <li>newPassword is not valid </li>
                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>
        <button  type="submit"  class="btn-main mt-2">Sign in</button>
    </form>
}
 
    

   


</section>
